.ace-helpers-block pre {
	border: 1px solid #BBBBBB;
	border-radius: 3px;
	margin: 5px 0 0;
}

.ace-helpers-block .ace-helpers-buttons {
	margin-top: 3px;
	text-align: right;
}

.ace-helpers-block .ace_search button {
	font-size: 13px;
	font-family: 'MS Shell Dlg \32', serif;
}

 .ace-helpers-button-typograph
,.ace-helpers-button-yandex-spell {
	margin-left: 0.3em;
}

.ace-helpers-editor .ace_gutter-cell {
	padding-left: 0.3em !important;
}

.ace-helpers-editor .ace_gutter-layer {
	opacity: 0.3;
}


 .ace_marker-layer .ace-helpers-yandex-misspelled
,.ace_marker-layer .ace-helpers-yandex-misspelled-double
,.ace_marker-layer .ace-helpers-yandex-misspelled-cap
,.ace_marker-layer .ace-helpers-yandex-misspelled-many
{
	position: absolute;
	z-index: 2;
	border-width: 1px;
	border-bottom-style: solid;
}

 .ace_gutter-cell.ace-helpers-yandex-misspelled
,.ace_gutter-cell.ace-helpers-yandex-misspelled-double
,.ace_gutter-cell.ace-helpers-yandex-misspelled-cap
,.ace_gutter-cell.ace-helpers-yandex-misspelled-many {
	/*border-width: 1px;*/
	/*border-style: solid;*/
	/*margin: -1px 0;*/
	box-shadow: 0 0 1px 1px inset;
}

.ace-helpers-yandex-misspelled {
	color: red;
	border-color: red;
	background-color: rgba(113, 38, 38, 0.5);
}

.ace-helpers-yandex-misspelled-double {
	color: yellow;
	border-color: yellow;
	background-color: rgba(255, 255, 0, 0.5);
}

.ace-helpers-yandex-misspelled-cap {
	color: #3CA000;
	border-color: #3CA000;
	background-color: #3CA000;
}

.ace-helpers-yandex-misspelled-many {
	background-color: rgba(255, 146, 41, 1);
}
